* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans";
}

body {
  background: #F5F6F8;
}

.container {
  position: relative;
  padding-top: 50px;
  display: flex;
  max-width: 1590px;
  margin: 0 auto;
}
.logo {
  margin-left: 10px;
}
nav {
  position: relative;
  margin: 0 0 0 10px;
  .accordion {
    display: flex;
    flex-direction: column;
    &_img {
      color: #787D85;
      font-size: 18px;
      font-weight: 500;
      display: flex;
      align-items: center;
      .img_active {
        color: #7653FC;
        font-size: 18px;
        font-weight: 500;
      }
      span {
        margin-left: 20px;
      }
    }
    &_content {
      position: relative;
      left: -25px;
    }
    &_item {
      margin-bottom: 21px;

    }
  }

  ul {
    margin: 30px 0 30px 65px;
    li {
      position: relative;
      list-style-type: none;
      color: #787D85;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    li::before {
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      height: 49px;
      left: -32px;
      background: #DFDFDF;
    }
  }

  .search-form {
    padding: 7px 3px 7px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 230px;
    height:40px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
    margin: 20px 0 30px 0;
    #input-text {
      height: 100%;
      width: 180px;
      border: none;
      color: #A4A4A4;
      font-size: 16px;
      font-weight: 400;
    }
    button {
      width: 30px;
      height: 30px;
      flex-shrink: 0;
      border-radius: 5px;
      background: #7653FC;
      border: none;
      cursor: pointer;
    }
  }
}

main {
  margin: 0 85px 0 60px;
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .titles {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &_text {
      color: #3B434E;
      font-size: 26px;
      font-weight: 500;
    }
    &_num {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 37px;
      height: 25px;
      flex-shrink: 0;
      border-radius: 20px;
      background: #B3C0D9;
      color: #FFF;
      font-size: 14px;
      font-weight: 500;
      line-height: 14px;
      margin-left: 20px;

    }
    &_sort {
      display: flex;
      align-items: center;
      cursor: pointer;
      .header_sort_rating{
        margin-right: 45px;
        font-size: 16px;
        font-weight: 700;
        display: flex;
        align-items: center;
      }
      .header_line {
        position: relative;
        display: block;
        width: 15px;
        height: 3px;
        background: #7653FC;
        margin-right: 8px;
        border-radius: 10px;
        &::after {
          position: absolute;
          content: '';
          top: -5px;
          background: #7653FC;
          width: 20px;
          height: 3px;
          border-radius: 10px;
        }
        &::before {
          position: absolute;
          content: '';
          top: 5px;
          background: #7653FC;
          width: 8px;
          height: 3px;
          border-radius: 10px;
        }
      }

      .header_sort_many {
        color: #000;
        font-size: 16px;
        font-weight: 400;
      }

    }
  }
}

.active {
  color: #7653FC;
}

.active_color {
  color: #7653FC;
}

.promo {
  margin-top: 20px;
  padding: 30px 30px 20px 30px;
  min-height: 461px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  &_title-prof {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_title-prof-img {
    display: flex;
    align-items: center;

  }
  &_title-prof-text {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    span {
      display: flex;
      color: #3B434E;
      font-size: 20px;
      font-weight: 600;
    }
    img {
      padding: 5px;
      flex-shrink: 0;
      border-radius: 5px;
      border: 1px solid #DCB44E;
      margin-left: 15px;
    }

  }
  &_title-prof-textsub {
    display: flex;
  }
  &_title-prof-subtext {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-top: 10px;
    width: 87px;
    height: 22px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #EBEBEB;
    color: #3B434E;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
  }
  &_title-prof-price {
    display: flex;
    justify-content: space-between;
    width: 420px;
  }
  &_title-prof-price-many-m {
    display: flex;
    justify-content: space-between;
  }
  &_title-prof-price-many-mmm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 67px;
    height: 22px;
    border-radius: 20px;
    background: #C8F8E4;
    color: #1DC37E;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    margin-left: 10px ;
  }
  &_title-prof-price-many {
    color: #3B434E;
    font-size: 14px;
    font-weight: 300;
  }
  &_title-prof-price-stars {
    flex-direction: column;
    width: 120px;
    height: 20px;
  }
  &_title-prof-price-stars-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .advantagesanddisadvantages {
    display: flex;
    align-items: center;
    margin-top: 20px;
    &_text {
      margin-left: 80px;
    }
    &_advantages {
      position: relative;
      margin-bottom: 20px;
      &::before {
        content: '';
        position: absolute;
        top: 33px;
        left: -52px;
        display: block;
        width: 71px;
        height: 3px;
        transform: rotate(-90deg);
        border-radius: 2px;
        background: #1DC37E;
      }
    }
    &_disadvantages {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 20px;
        left: -39px;
        display: block;
        width: 44px;
        height: 3px;
        transform: rotate(-90deg);
        border-radius: 2px;
        background: #FC836D;
      }
    }
    &_title {
      color: #3B434E;
      font-size: 16px;
      font-weight: 700;
    }
    &_subtext {
      color: #3B434E;
      font-size: 16px;
      font-weight: 400;
    }
  }
  &_descr {
    color: #3B434E;
    max-width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
  }
  .documents {
    min-width: 600px;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      margin-bottom: 10px;
    }
    .li_text {
      max-width: 270px;
    }
  }
}
.divider {
  max-width: 100%;
  height: 1px;
  background: #EBEBEB;
  margin-top: 20px;
}
.divider-dot {
  width: 54%;
  height: 1px;
  border-bottom: 2px dotted  #C4C4C4;
  margin: 0 10px 0 10px;
}
.more {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.btn {
  width: 148px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #FFF;
  background: #7653FC;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin-right: 20px;
  &-white {
    border-radius: 5px;
    border: 1px solid #EBEBEB;
    background: #FFF;
    width: 148px;
    height: 35px;
    color: #3B434E;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
  }
}
.comment {
  padding: 25px 30px 30px 30px;
  min-height: 452px;
  border-radius: 5px;
  background: #F9F8FF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  &_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_profile {
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
    }
  }
  &_profile {
    color: #3B434E;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    span {
      color: #3B434E;
      font-size: 14px;
      font-weight: 400;
    }
  }
  &_rating {
    span {
      margin-right: 20px;
    }
  }
  &_rating-star {
    margin-right: 5px;
  }
  &_rating{
    display: flex;
  }
  &_text {
    margin-top: 10px;
    color: #3B434E;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
}

.send-subtext {
  color: #3B434E;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}


.input-send {
  margin-right: 30px;
  padding-left: 12px;
  margin-top: 30px;
  width: 218px;
  height: 36px;
  border: none;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  color: #A4A4A4;
  font-size: 16px;
  font-weight: 400;
}

.text {
  display: block;
  width: 100%;
  height: 76px;
  margin-top: 20px;
  padding: 7px 0 47px 12px;
}

.send {
  margin-top: 20px;
}

.vacancies {
  margin-top: 50px;
  &_title-text {
    position: relative;
    color: #3B434E;
    font-size: 22px;
    font-weight: 500;
    &::after {
      content: 'hh.ru';
      position: absolute;
      display: flex;
      top: 4px;
      left: 250px;
      align-items: center;
      justify-content: center;
      width: 62px;
      height: 25px;
      border-radius: 20px;
      background: #DE0000;
      color: #FFF;
      text-align: center;
      font-size: 14px;
      font-weight: 600;
    }
  }
  &_items {
    display: flex;
    flex-wrap: wrap;
  }
  &_item {
    height: 140px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    text-align: center;
    min-width: 260px;
    flex: 1;
    padding: 20px 0;
  }
  &_item-text {
    color: #3B434E;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
  }
  &_item-many {
    color: #3B434E;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
  }
  .main {
    margin-right: 30px;
    flex: 1;
    min-width: 260px;
  }
  &_item-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .vacancies_item {
      width: 300px;
    }
  }
  &_item-c {
    color: #7653FC;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
  }
  &_advantages {
    margin-top: 45px;
    &-name {
      margin-bottom: 40px;
      color: #3B434E;
      font-size: 22px;
      font-weight: 500;
      margin-top: 25px;
    }
    &-items {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    &-item {
      max-width: 1100px;
      margin-bottom: 40px;
    }
    &-title {
      position: relative;
      color: #3B434E;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 20px;
      &::before {
        position: absolute;
        content: url('../img/done.png');
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        line-height: 8px;
        background: #C8F8E4;
        border-radius: 100%;
        top: -10px;
        left: -90px;
      }
    }
    &-text {
      position: relative;
      color: #3B434E;
      font-size: 18px;
      font-weight: 400;
      line-height: 29px;
      &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        background: #D2D2D2;
        left: -66px;
        top: 15px;
      }
    }
    &-subtext {
      color: #3B434E;
      font-size: 18px;
      font-weight: 400;
      line-height: 29px;
      margin-top: 30px;
    }
    &-skills {
      display: flex;
    }
    &-skill {
      height: 22px;
      border-radius: 20px;
      border: 1px solid #7653FC;
      color: #7653FC;
      text-align: center;
      font-size: 12px;
      font-weight: 500;
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 10px;
    }
    .skill-name {
      margin-bottom: 20px;
    }
  }
}
footer {
  margin-top: 50px;
  height: 72px;
  background: #7653FC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  .footer_protections {
    display: flex;
    margin-left: 40px;
  }
  .footer-text {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
  }
}

.burger {
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  display: none;
  &_line {
    position: relative;
    width: 20px;
    background: #7653FC;
    height: 2px;
    display: block;
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 20px;
      background: #7653FC;
      height: 2px;
      top: -5px;
    }
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 20px;
      background: #7653FC;
      height: 2px;
      top: 5px;
    }
  }
}

.active {
  left: 0;
  width: 280px;
}

.close {
  width: 50px;
  font-size: 30px;
}

.none {
  display: none;
}

nav .accordion {
  max-width: 230px;
}

nav .search-form button {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1580px) {
  .vacancies_items {
    display: block;
  }
  .vacancies .main {
    margin-right: 0;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

@media (max-width: 1380px) {
  .promo_title-prof-text img {
    display: none;
  }
}

@media (max-width: 1440px) {
  .promo .advantagesanddisadvantages {
    display: block;
  }
  .promo .advantagesanddisadvantages_text {
    margin-top: 20px ;
    margin-left: 20px;
  }
  .promo .documents {
    min-width: 100%;
  }
}

@media (max-width: 1200px) {
  .logo_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  main .header_text {
    font-size: 23px;
  }
  .burger {
    top: 20px;
    left: 20px;
    position: absolute;
    display: flex;
    z-index: 100;
  }
  .vacancies_advantages-text::before {
    top: -2px;
  }
  .container {
    display: flex;
    padding-top: 20px;
    width: 100%;
  }
  nav .accordion {
    transition: all .3s ease;
    background: #F5F6F8;
    height: 100%;
    width: 230px;
    display: flex;
    z-index: 100;
    top: -20px;
    left: 0;
    padding-left: 20px;
    padding-top: 20px;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    transition: all .3s ease;
    position: absolute;
    left: -100%;
    background: #F5F6F8;
    height: 100%;
    z-index: 1000;
    max-width: 280px;
  }

  main {
    margin: 0;
    width: 100%;
    padding: 0 10px 0 10px;
  }
  .vacancies_advantages-item {
    max-width: 1000px;
    margin: 0 0 0 100px;
  }
  .vacancies_advantages-text {
    font-size: 15px;
  }
  .vacancies_advantages-title {
    margin-top: 20px;
  }
  .vacancies_advantages-skill {
    font-size: 8px;
  }
  footer {
    flex-direction: column;
  }
  .promo_title-prof-price-many-mmm {

  }
  main .header_text {
    margin-left: 80px;
  }
  .promo_title-prof {
    display: block;
  }
  .promo_title-prof-img {
    justify-content: center;
  }
  .promo_title-prof-price {
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
  }

}

@media (max-width: 830px) {
  .send-subtext {
    display: block;
    margin-top: 10px;
  }
  .comment_title {
    flex-direction: column;
  }
  main .header {
    display: block;
  }
  main .header_sort {
    justify-content: center;
    margin-top: 20px;
  }
}

@media (max-width: 654px) {
  .vacancies_advantages-skills {
    flex-direction: column;
    align-items: center;
  }
  .vacancies_advantages-skill {
    font-size: 11px;
    width: 200px;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .vacancies_advantages .skill-name {
    text-align: center;
  }
  footer .footer-text {
    font-size: 15px;
    margin-right: 10px;
    margin-left: 0;
  }
  .promo_title-prof-price {
    flex-direction: column;
    align-items: start;
  }
  .promo_title-prof-price-many {
    margin-bottom: 10px;
  }
  .divider {
    margin-top: 40px;
  }
  .vacancies_advantages-subtext {
    font-size: 16px;
  }
  footer .footer-text {
    font-size: 12px;
  }
  .promo_title-prof-text span {
    font-size: 16px;
  }
}

@media (max-width: 330px) {
  .comment_title {
    flex-direction: column;
  }
  main .header_text {
    font-size: 20px;
  }
  .vacancies_title-text {
    font-size: 20px;
  }
  .vacancies_title-text::after {
    left: 220px;
  }
}
